<form [formGroup]="form" (ngSubmit)="onSubmit()" [dir]="config.direction">
  <ng-container *ngFor="let field of config?.formContols">
    <ng-container [ngSwitch]="field.type">
      <ng-container *ngSwitchCase="fromControlType.TEXTBOX">
        <mat-form-field appearance="outline">
          <mat-label>{{ field.label }}</mat-label>
          <input matInput [formControlName]="field.name" />
          <mat-icon matSuffix>{{ field.icon }}</mat-icon>
          <mat-hint>{{ field.hint }}</mat-hint>
          <mat-error *ngIf="form.get(field.name)?.errors">{{
            form.get(field.name)?.errors | json
          }}</mat-error>
        </mat-form-field>
      </ng-container>

      <ng-container *ngSwitchCase="fromControlType.NUMBER">
        <mat-form-field appearance="outline">
          <mat-label>{{ field.label }}</mat-label>
          <input matInput type="number" [formControlName]="field.name" />
          <mat-icon matSuffix>{{ field.icon }}</mat-icon>
          <mat-hint>{{ field.hint }}</mat-hint>
          <mat-error *ngIf="form.get(field.name)?.errors">{{
            form.get(field.name)?.errors | json
          }}</mat-error>
        </mat-form-field>
      </ng-container>

      <ng-container *ngSwitchCase="fromControlType.TEXTAREA">
        <mat-form-field appearance="outline">
          <mat-label>{{ field.label }}</mat-label>
          <textarea matInput [formControlName]="field.name" > </textarea>
          <mat-icon matSuffix>{{ field.icon }}</mat-icon>
          <mat-hint>{{ field.hint }}</mat-hint>
          <mat-error *ngIf="form.get(field.name)?.errors">{{
            form.get(field.name)?.errors | json
          }}</mat-error>
        </mat-form-field>
      </ng-container>

      <ng-container *ngSwitchCase="fromControlType.EMAIL">
        <mat-form-field appearance="outline">
          <mat-label>{{ field.label }}</mat-label>
          <input type="email" matInput [formControlName]="field.name" />
          <mat-icon matSuffix>{{ field.icon }}</mat-icon>
          <mat-hint>{{ field.hint }}</mat-hint>
          <mat-error *ngIf="form.get(field.name)?.errors">{{
            form.get(field.name)?.errors | json
          }}</mat-error>
        </mat-form-field>
      </ng-container>

      <ng-container *ngSwitchCase="fromControlType.SELECT">
        <mat-form-field appearance="outline">
          <mat-label>{{ field.label }}</mat-label>
          <mat-select [formControlName]="field.name">
            <mat-option
              *ngFor="let item of field.metaData.options"
              [value]="item.value"
            >
              {{ item.name }}
            </mat-option>
          </mat-select>

          <mat-icon matSuffix>{{ field.icon }}</mat-icon>
          <mat-hint>{{ field.hint }}</mat-hint>
          <mat-error *ngIf="form.get(field.name)?.errors">{{
            form.get(field.name)?.errors | json
          }}</mat-error>
        </mat-form-field>
      </ng-container>

      <ng-container *ngSwitchCase="fromControlType.ARRAY">
        <mat-form-field appearance="outline">
          <mat-label>{{ field.label }}</mat-label>
          <input matInput type="tel" [formControlName]="field.name" />
          <mat-icon matPrefix>{{ field.icon }}</mat-icon>
          <mat-hint>{{ field.hint }}</mat-hint>
          <mat-error *ngIf="form.get(field.name)?.errors">{{
            form.get(field.name)?.errors | json
          }}</mat-error>
        </mat-form-field>
        <!-- Show Data -->
        <ng-container
          *ngFor="let item of form.get(field.name + 'Array')?.value"
        >
          <li>{{ item | json }}</li>
        </ng-container>
        <mat-icon (click)="addToControl(field.name)">add_circle</mat-icon>
      </ng-container>

      <ng-container *ngSwitchCase="fromControlType.DATE">
        <mat-form-field appearance="outline">
          <mat-label>{{ field.label }}</mat-label>
          <input
            matInput
            [matDatepicker]="releasedAtPicker"
            [formControlName]="field.name"
            [disabled]="true"
          />
          <mat-datepicker-toggle matSuffix [for]="releasedAtPicker">
          </mat-datepicker-toggle>
          <mat-datepicker [disabled]="false" #releasedAtPicker>
          </mat-datepicker>
          <mat-hint>{{ field.hint }}</mat-hint>
          <mat-error *ngIf="form.get(field.name)?.errors">{{
            form.get(field.name)?.errors | json
          }}</mat-error>
        </mat-form-field>
      </ng-container>

      <div *ngSwitchDefault>Unknown type</div>
    </ng-container>
  </ng-container>

  <button type="submit">{{ config.submitButtonName }}</button>
</form>
