.dynamic-form-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  .mat-form-field {
    flex: 35%;
    padding: 20px;
  }
  .form-control-array {
    display: flex;
    flex: 38%;
    flex-direction: column;
    .row {
      display: flex;
      align-items: baseline;
    }
    .added-item {
      display: flex;
      flex-wrap: wrap;
      width: 50%;
      margin: auto;
      li {
        flex: 35%;
      }
    }
  }
  .action{
    display: flex;
    flex: 100%;
    justify-content: end;
    button{
      margin: 20px;
    }
  }
}
